body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EEF9BF;
}

.container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 120 px;

}

.displaynone{
  display: none;
}

.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 66px;
  letter-spacing: -0.004em;
  color: #75b79e;
  text-align: center;
  width: 100%;
}

.card img{
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
  height: 146px;
  width: 117px;
  box-sizing: border-box;
  border: 1px solid #99CEA8;
  background-color: #A7E9AF;
  padding: 5px;
  margin: 20px;
}

.face {
  width: 100%;
  height: 100%;
  background-color: #A7E9AF;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  backface-visibility: hidden;
  transition: all .5s;
  transform-style: preserve-3d;
}

.back-face {
  transform: rotateY(180deg);
}

.card:hover .back-face {
  transform: rotateY(0deg);
}

.card:hover .front-face {
  transform: rotateY(-180deg);
}